In [13]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('tower_stats.csv')
# Display the first few rows of the DataFrame
# print(df[['range', 'interval', 'n_targets', 'speedDown']].max())
# print(df[['range', 'interval', 'n_targets', 'speedDown']].min())
# print(df[['range', 'interval', 'n_targets', 'speedDown']].mean())

In [14]:
df.groupby('interval').count()

          range  type  n_targets  speedDown  bullet_range
interval
0.06        823   823        823        823           187
0.10       5846  5846       5846       5846          1088
0.30        831   831        831        831           187

In [19]:
df.groupby('range').count()

       interval  type  n_targets  speedDown  bullet_range
range
6          1266  1266       1266       1266           260
8          1226  1226       1226       1226           246
12         1606  1606       1606       1606           350
14         2020  2020       2020       2020           336
16         1382  1382       1382       1382           270

In [18]:
df.groupby('speedDown').count()

           range  interval  type  n_targets  bullet_range
speedDown
0.75         712       712   712        712           127
0.80         698       698   698        698           126
1.00        6090      6090  6090       6090          1209

In [16]:
df.groupby('n_targets').count()

           range  interval  type  speedDown  bullet_range
n_targets
-1          1413      1413  1413       1413             0
 1          3308      3308  3308       3308          1462
 2          1216      1216  1216       1216             0
 3          1563      1563  1563       1563             0